<div class="admin"><%= render 'admin_users/admin_header' %>
 <h1>商品詳細</h1></div>

<div class="item_detail">
 <%= attachment_image_tag @item, :item_image, :fill, 200, 200, format: 'jpeg' %><br />

  <h3>商品名 : <%= @item.item_name %></h3>
 
  <h3>商品在庫数 : <%= @item.stock %>個</h3>

  <h3>商品価格(税込み) : <%= @price.to_i %>円</h3>

  <h3>商品容量 : <%= @item.weight %>g</h3>

  <h3>販売状況 : <%= @item.sales_status %></h3>

  <h3>商品説明</h3>
  <h3><%= @item.item_explain %></h3>

  <span class="detail_title"><%= link_to '商品情報編集', edit_item_path(@item.id) %></span>
  <span class="detail_title"><%= link_to '商品削除', item_path(@item.id), method: :delete %></span>

</div>

