<div class='item_header'><%= render 'end_users/end_header' %></div>
 <h1 class="item_title">商品一覧</h1></br>

  <% @items.each do |b| %>

   <div class="end_item_index">
    <%= link_to end_item_path(b.id) do %>
     <div class="img"><%= attachment_image_tag b, :item_image, :fill, 195, 195, format: 'jpeg' %></div>
     <div><%= b.item_name %></div>
     <div><%= b.sales_status %></div>
    <% end %>
   </div>

  <% end %>